/* declaraçoes gerais */

:root {
	--corPadrao: #ffc107;
}
body {
	background-color: var(--corPadrao);
}
/* header */
header {
	height: 50px;
}
.navbar-toggler-icon {
	background-image: url(imgs/menu-bars.png);
}
/* fim header */
/* Unidades */

#unidades {
	height: 98em;
}

.card {
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.575);
	width: 50%;
	background-color: #ffffff;
}
/* fim das declaraçoes gerais */
/*  */
#kits-babys > h4 {
	margin-left: 5em;
}
.text-end > span {
	color: #e00024;
}
