/* declaraçoes gerais */
.card-wrapper{
	display: flex;
}
:root {
	--corPadrao: #ffc107;
}
body {
	background-color: var(--corPadrao);
}
#unidades {

	height: 36.5em;
}
.wh {
	max-width: 230px;
	 
}

.card {
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.575);
	background-color:#FFFFFF
}
/* fim das declaraçoes gerais */
/*  */
#kits-babys>h4{
	margin-left: 5em;
}
.text-end>span{
color: #E00024;
}