/* declaraçoes gerais */	
*{margin: 0%;

padding: 0%;


}

:root {
	--corPadrao: #ffc107;
	--cor2: #f50b24;
	--cor3: #592614;
	--colorBlack: #0d0b08;
	--cor4: #0aa66d;
}

body {
	background-color: var(--cor2);
}
/* header */
header {
	height: fit-content;
}
.navbar-brand > a {
	text-decoration: none;

	font-weight: 500;
}
li.btn{
	width: max-content;
}
.offcanvas.offcanvas-end{
	width: 215px;
}
#encomendar {
	background-color: var(--cor3);
}
/* canvas */
.offcanvas {
	background: var(--cor2);
}
/*fim canvas */

/* fim header */
/* Unidades */

#unidades {
	height: fit-content;
	padding: 10px;
}

.card {
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.575);

	max-width: 100%;
	padding: 0%;
	
}
/* fim Unidades */
/* Cardapio */
.row{
	
	margin-bottom: 10px;
}






/* fim cardapio */
