@media screen and (min-width: 600px) {
	/* header */
	header {
		height: fit-content;
	}
	.navbar-nav {
		width: 440px;
	}
	#encomentdar:hover{
	background-color: #0aa66d;

}
	/* fim header */
	/* seção de unidades */
	#unidades {
		height: fit-content;
	}
	.card-unidades {
		width: 80%;
	}
}
