@media screen and (max-width: 600px) {
	/* header */
	header {
		height: fit-content;
	}
	.navbar-nav {
		width: 440px;
	}
	/* fim header */
	/* seção de unidades */
	#unidades {
		height: 37em;
	}
	.card {
		width: 50%;
	}
}
